doctype html
head
  // CSS only
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  // JS, Popper.js, and jQuery
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
  title Add Movie
| Add Movie
p
.C1
  form
    .col-4
      label(for='Title')  Title:
      br
      input#Title(type='Title' required='')
      p
      label(for='Description')  Description:
      br
      input#Description(type='text' required='')
      p
      label(for='Runtime')  Runtime:
      br
      input#Runtime(type='text' required='')
      p
      label(for='Year')  Year:
      br
      input#Year(type='number' required='')
      p
      label(for='Budget')  Budget:
      br
      input#Budget(type='text' required='')
      p
      label(name='Rating' for='Ratinge') Rating:
      br
      label(name='Rating' for='PG') PG-13:
      input#PG(name='Rating' type='radio' required='')
      label(name='Rating' for='R') R:
      input#R(name='Rating' type='radio' required='')
      label(name='Rating' for='Family') Family:
      input#Family(name='Rating' type='radio' required='')
      p
      label(for='Director')  Director(s):
      br
      .input-group
        input.form-control(type='text' aria-label='Text input with dropdown button')
        .input-group-append
          button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          .dropdown-menu
            a.dropdown-item(href='#') Add Director(s)
      p
      label(for='Director')  Writer(s):
      br
      .input-group
        input.form-control(type='text' aria-label='Text input with dropdown button')
        .input-group-append
          button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          .dropdown-menu
            a.dropdown-item(href='#') Add Writer(s)
      p
      label(for='Director')  Actor(s):
      br
      .input-group
        input.form-control(type='text' aria-label='Text input with dropdown button')
        .input-group-append
          button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          .dropdown-menu
            a.dropdown-item(href='#') Add Actor(s)
      p
    .col-4
      a.btn.btn-primary.btn-lg.active(href='#' role='button' aria-pressed='true') Submit
