doctype html
head
  link(rel='stylesheet' href='accounttype.css')
  // CSS only
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  // JS, Popper.js, and jQuery
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
  title Add Person
.container-fluid
  h1 Add Person
  div
    form
      .col-4
        p
        div
          label(for='Username')  First name:
          input#Username(type='text' required='')
          p
            div
              label(for='Username')  Last name:
              input#Username(type='text' required='')
          p
          .btn-group.btn-group-toggle(data-toggle='buttons')
            label(name='Account Type' for='Account Type') Rank: 
            label.btn.btn-secondary.active
              input#option1(type='radio' name='options' checked='')
              |  Actor
            label.btn.btn-secondary
              input#option2(type='radio' name='options')
              |  Writer
            label.btn.btn-secondary
              input#option2(type='radio' name='options')
              |  Director
          p
          label(for='Director')  Movie(s):
          br
          .input-group
            input.form-control(type='text' aria-label='Text input with dropdown button')
            .input-group-append
              button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              .dropdown-menu
                a.dropdown-item(href='#') Add Movie(s)
          p
          .col-4
            a.btn.btn-primary.btn-lg.active(href='#' role='button' aria-pressed='true') Submit
