doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Movie
  // Bootstrap stylesheets CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  // Font Awesome CSS DN
  link(href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' rel='stylesheet')
  // JQuery CDN
  script(defer='' src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  // Popper CDN
  script(defer='' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  // Bootstrap javascript CDN
  script(defer='' src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
  script(defer='' src='../assets/javascript/index.js')
.container-fluid
  .row
    .col-md-8.offset-md-2
      .row
        .col-12
          h1
            i.fas.fa-film
            | &nbsp;Movies 55
          hr.text-muted
      h4
        | Toy Story
      .row
        .col-8
          img.d-block.w-100(src='https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX300.jpg' height='750' alt='...')
        .col-4
          h6.font-weight-bold Released
          p 22 Nov 1995
          h6.font-weight-bold Rated
          p G
          h6.font-weight-bold Runtime
          p 81 mins
          h6.font-weight-bold Genre
          p Animation, Adventure, Comedy, Family, Fantasy
          h6.font-weight-bold Plot
          p
            | A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him
            | as top toy in a boy&apos;s room.y
      .row
        .col-12
          h6.font-weight-bold Cast
          p Tom Hanks, Tim Allen, Don Rickles, Jim Varney
      .row
        .col-12
          h6.font-weight-bold Director
          p John Lasseter
      .row
        .col-12
          h6.font-weight-bold Writers
          p
            | John Lasseter (original story by), Pete Docter (original story by), Andrew Stanton (original
            | story by), Joe Ranft (original story by), Joss Whedon (screenplay by), Andrew Stanton
            | (screenplay by), Joel Cohen (screenplay by), Alec Sokolow (screenplay by)
      form
        .row
          .col-12
            h6.font-weight-bold Review
            label.star
              input(type='radio' name='value' value='1')
            label.star
              input(type='radio' name='value' value='2')
            label.star
              input(type='radio' name='value' value='3')
              span.slider
            label.star
              input(type='radio' name='value' value='4')
            label.star
              input(type='radio' name='value' value='5')
            br
            textarea
        a.btn.btn-primary.btn-lg.active(href='#' role='button' aria-pressed='true') Submit
