include pageHead
include header

+pageHead("Popular Movies", [], ['../assets/stylesheets/index.css'])
+header({})

.row
  .col-md-8.offset-md-2
    h2 Trending Movies
    p
    .container-fluid
      .card-columns
        for movie of movies
          .card
            img.card-img-top(src=movie.image)
            .card-body
              h5.card-title !{movie.title}
              a.btn.btn-primary(href=`/movies/${movie.id}`) Go to Movie